* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo {
    height: 50px;
    width: 100px;
    
}

.logo {
    background-image: url("./amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}

/* box-2 location */

.navadd {
    display: flex;
    align-items: center;
}
.navadd-1 {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}
.navadd-2 {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 2px;
}

/* box-3 search */

.box3 {
    display:flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;

}
.search-select {
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    font-size: 1rem;
    width: 100%;
    border: none;

}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
    background-color: rgb(247, 129, 11);
    width: 45px;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box3:hover {
    border: 2px solid orange;
}

/* box-4 sign in and account */

.span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box-6 cart */
.box6 i {
    font-size: 30px;
}
.box6 p {
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel */

.panel {
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: #ffffff;
    justify-content: space-evenly;
    align-items: center;
}
.panel-ops p {
    display: inline;
    margin-left: 15px;
}
.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero Section */

.hero-section {
    background-image: url("./hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    


}
.hero-msg {
    background-color: #ffffff;
    color: black;
    height: 40px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a {
    color: #007185;
}

/* shop content */
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;

}
.box {
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content {
    margin-right: 1rem;
    margin-left: 1rem;
}
.box-content p {
    color: #007185;
}

/* Footer section */
footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.foot-panel2 {
    background-color: #222f3d;
    color: #ffffff;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: #ffffff;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-f {
    background-image: url("./amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: #ffffff;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel4-pages {
font-size: 0.8rem;
}
.copyright {
    padding: 5px;
font-size: 0.8rem;
}

/* Done With the Project Styling */
